@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

html{
    background-color: 	#808080;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.titulo{
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 8px solid #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #292929;
    border
}

.titulo h1{
    border: 8px solid #ffa31a;
    border-radius: 10px;
    background-color: #ffa31a;
    padding: 15px 50px;
}

nav{
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 8px solid #1b1b1b;
    background-color: 	#292929;
    display: flex;
    justify-content: space-around;
    padding: 20px 100px;

}

hr{
    margin: 0 90px;
}

nav a{
    
    font-size: 25px;
    text-decoration: none;
    color: #ffff;
}

section{
    margin: 30px 100px;
}

section iframe{
    background-color: #292929;
    padding: 50px;
    border: 15px solid #1b1b1b;
    border-radius: 20px;
}

form{
    margin: 20px 100px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: #ffff;
    font-size: 20px;
    margin-bottom: 50px;
}